Source: liboqs
Section: libs
Priority: optional
Maintainer: LACChain Team <support@lacchain.net>
Build-Depends: cmake, debhelper (>=11~), libssl-dev (>=1.1.1), doxygen
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/open-quantum-safe/liboqs/
Vcs-Git: https://github.com/open-quantum-safe/liboqs.git

Package: liboqs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Open source library for quantum-safe cryptographic algorithms.
 This package is part of the Open Quantum Safe (OQS) project led by Douglas Stebila
 and Michele Mosca, which aims to develop and integrate into applications quantum-safe
 cryptography to facilitate deployment and testing in real world contexts.
 .
 In particular, OQS provides prototype integrations of liboqs into TLS and SSH, through OpenSSL and OpenSSH.
 .
 This package contains the shared library object.

Package: liboqs-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, liboqs (= ${binary:Version})
Description: Open source library for quantum-safe cryptographic algorithms.
 This package is part of the Open Quantum Safe (OQS) project led by Douglas Stebila
 and Michele Mosca, which aims to develop and integrate into applications quantum-safe
 cryptography to facilitate deployment and testing in real world contexts.
 .
 In particular, OQS provides prototype integrations of liboqs into TLS and SSH, through OpenSSL and OpenSSH.
 .
 This package provides development files.

